<div class="uk-container">
    <div class="uk-card uk-card-body uk-margin-top">
<!--        <form [formGroup]="editBotForm" (ngSubmit)="editBotFormSubmit()">-->

    <div class="uk-margin">
        <select class="uk-select" (change)="getBotFromDropDown($event)">
            <option value="" selected disabled>Choose a bot to edit</option>
            <option *ngFor="let bot of bots" value="{{ bot.id }}">{{ bot.bot_name }}</option>
        </select>
    </div>

    <hr>
    <div class="uk-margin">
        <p class="uk-text-muted"><span uk-icon="icon: pencil; ratio: 2"></span></p>    
        <legend class="uk-legend">Edit your bot</legend> 
        <div class="uk-flex uk-flex-center">
            <button [routerLink]="['/create']" class="uk-button uk-button-primary uk-button-small uk-margin-left"><span uk-icon="icon: plus-circle; ratio: 1"></span> Create bot</button>
            <button [routerLink]="['/intents']" class="uk-button uk-button-primary uk-button-small uk-margin-left"><span uk-icon="icon: check; ratio: 1"></span> Add/Update bot Intents</button>
            <button [routerLink]="['/svps']" class="uk-button uk-button-primary uk-button-small uk-margin-left"><span uk-icon="icon: tag; ratio: 1"></span> Add/Update bot SVPs</button>
            <button [routerLink]="['/train']" class="uk-button uk-button-primary uk-button-small uk-margin-left"><span uk-icon="icon: settings; ratio: 1"></span> Train bot</button>
        </div>
        </div>  

        <div *ngIf="bot">
    <form [formGroup]="editBotForm" (ngSubmit)="editBotFormSubmit()">
      <fieldset class="uk-fieldset">
            
                <div class="uk-margin">
                    <input class="uk-input" formControlName="id" type="text" readonly hidden>
                </div>

                <div class="uk-margin">
                    <div class="uk-text-small uk-margin-bottom">Update the bot name</div>
                    <input class="uk-input" formControlName="bot_name" type="text" required>
                </div>

                <div class="uk-margin">
                    <div class="uk-text-small uk-margin-bottom">Update your bot description</div>
                    <textarea class="uk-textarea" formControlName="bot_desc" rows="5" required></textarea>
                </div>

                <div class="uk-margin">
                    <div class="uk-text-small uk-margin-bottom">Update the intents handled by your bot (enter at least two intents) e.g. check_prices, buy_item, stock_query</div>
                    <input class="uk-input" formControlName="bot_intents" type="text" required>
                </div>

              <div class="uk-margin">
                <div class="uk-text-small uk-margin-bottom">Update the slots your bot captures? (Leave blank for none) e.g. product, price, modifier</div>
                <input class="uk-input" formControlName="bot_slots" type="text">
              </div>

                <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                    <label><input class="uk-checkbox" formControlName="bot_personal" type="checkbox"> This bot is for personal use</label>
                </div>




            </fieldset>

            <div class="uk-margin">
                <button class="uk-button uk-button-secondary uk-button-small uk-margin-small-bottom">Update and save bot</button>
            </div>
        </form>
        </div>
    </div>




</div>
