<script src="create.component.ts"></script>
<div class="uk-container">
    <div class="uk-card uk-card-body uk-margin-top">
      <div class="uk-margin">
      <p class="uk-text-muted"><span uk-icon="icon: cog; ratio: 2"></span></p>    
      <legend class="uk-legend"> Settings </legend>
      <div class="uk-flex uk-flex-center">
        <button [routerLink]="['/edit']" class="uk-button uk-button-primary uk-button-small uk-margin-left"><span uk-icon="icon: pencil; ratio: 1"></span> Edit bot</button>
        <button [routerLink]="['/intents']" class="uk-button uk-button-primary uk-button-small uk-margin-left"><span uk-icon="icon: check; ratio: 1"></span> Add/Update bot Intents</button>
        <button [routerLink]="['/svps']" class="uk-button uk-button-primary uk-button-small uk-margin-left"><span uk-icon="icon: tag; ratio: 1"></span> Add/Update bot SVPs</button>
        <button [routerLink]="['/train']" class="uk-button uk-button-primary uk-button-small uk-margin-left"><span uk-icon="icon: settings; ratio: 1"></span> Train bot</button>
    </div>
      </div>

      <!-- Change user password -->

      <p> Change your password </p>

      <form>
        <fieldset class="uk-fieldset">

            <div class="uk-margin">
                <div class="uk-text-small uk-margin-bottom">Enter a new password</div>
                <input class="uk-input" formControlName="bot_name" type="password">
            </div>

            <div class="uk-margin">
                <div class="uk-text-small uk-margin-bottom">Enter a new password</div>
                <input class="uk-input" formControlName="bot_name" type="password">
            </div>


            <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                <label><input class="uk-checkbox" formControlName="email_notification" type="checkbox"> Send an email notification to my inbox</label>
            </div>


        </fieldset>

        <div class="uk-margin">
            <button class="uk-button uk-button-secondary uk-button-small">update my account</button>
        </div>
    </form>

      <hr>
      <div class="uk-section uk-section-muted">
        <div class="uk-container">
    
            <h3 class="uk-text-center uk-text-danger">Danger zone</h3>
    
            <div class="uk-grid-match uk-child-width-1-1@m uk-padding" uk-grid>
                <div class="uk-text-center">
                    <h4>Wipe and reset models</h4>
                    <p>This will wipe and reset all your classification and svp models way beyond data recovery. Is this what you want?.</p>
                      <button type="submit" class="uk-button uk-button-danger uk-margin-small-bottom uk-margin-left" (click)="wipeAndResetModels()"><span uk-icon="trash"></span>&nbsp;Wipe and reset my models anyway, I understand the consequences...</button>
            
                </div>
            </div>
    
        </div>
    </div>
    </div>




</div>
